@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    scroll-behavior: smooth;
  }
  body {
    background-color: gray;
    color: white;
  }
}
